@use 'reset';
@use 'variaveis';

@mixin buttonForm() {
    border: none;
    font-weight: bold;
    padding: 8px;
    font-size: 25px;
    color: variaveis.$corFontePrincipal;
    cursor: pointer;
    margin-top: 16px;
}

header {
    background-color: variaveis.$corSecundaria;

    h1 {
        color: variaveis.$corFontePrincipal;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        padding: 16px;
    }
}

body {
    background-color: variaveis.$corPrincipal;
    justify-content: center;
    text-align: center;
}

section {
    margin-top: 16px;
    display: none;

    img {
        max-width: 50%;
    }
}

#botao-abrir-1,
#botao-abrir-2,
#botao-abrir-3,
#botao-abrir-4,
#botao-abrir-5,
#botao-abrir-6 {
    @include buttonForm();
    background-color: variaveis.$corBotaoAbrir;
}

#botao-fechar-1,
#botao-fechar-2,
#botao-fechar-3,
#botao-fechar-4,
#botao-fechar-5,
#botao-fechar-6 {
    @include buttonForm();
    background-color: variaveis.$corBotaoFechar;
}

.overlay-image-link {
    padding: 16px;
    background-color: variaveis.$corOverlayImage;
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    opacity: 0;
    transition: all ease .5s;

    a {
        color: variaveis.$corFontePrincipal;
        text-decoration: none;
    }
}

ul li {
    list-style: none;
    position: relative;
    overflow-y: hidden;

    &:hover .overlay-image-link {
        opacity: 1;
    }
}