// Fontes
$fontePrincipal: Roboto, sans-serif;

// Esquema de Cores
$corPrincipal: rgb(197, 197, 197);
$corSecundaria: rgb(35, 110, 248);
$corFontePrincipal: #fff;
$corBotaoAbrir: green;
$corBotaoFechar: red;
$corOverlayImage: rgba(0, 0, 0, 0.7);